
.one{font-size: xx-large;
    text-align: center;
    background-color: rebeccapurple;
    font-style: italic;
}
.two{font-size: medium;
    font-style: italic;
    line-height: 1.4em;
    padding: 10px;
    display: block;
}
.three{
    font-size: large;
    text-align: left;
    font-style: italic;
    display: block;
}
h1{font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    font-style: initial;
    font-family: cursive;
    font-weight: bolder;
    background-color: rebeccapurple;
}
body{
    background-color: rebeccapurple;
    display: block;
}
li{
    font-size: medium;
    font-family: cursive;
    font-style: italic;
}
h3{font-size: x-large;
   text-align: left;
}
.About{
    text-align: center;
    font-style: oblique;
}
.Services{
    text-align: center;
    font-style: oblique;
    
}